body {
  cursor: none; /* Hide default cursor if custom cursor is active */
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
  mix-blend-mode: difference;
}

.custom-cursor.hovered {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
}

@media (pointer: coarse) {
  body {
    cursor: auto;
  }
  .custom-cursor {
    display: none;
  }
}
