@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ededed;
  overflow: hidden;
}

::selection {
  background: #186275;
  color: white;
}